<table class="table table-hover">
	<thead>
		{% for row in headers %}
			<tr>
				{% for cell in row %}
					<th rowspan="{{cell.rowspan}}" colspan="{{cell.colspan}}" class="{{cell.class}}" style="{% for key,value in cell.style.items %}{{key}}: {{value}};{% endfor %}">{{cell.caption}}</th>
				{% endfor %}
			</tr>
		{% endfor %}
	</thead>

	<tbody>
		{% for row in body %}
			<tr>
				{% for cell in row %}
					{% if cell.th %}
						<th rowspan="{{cell.rowspan}}" style="text-align:left" colspan="{{cell.colspan}}" class="{{cell.class}}" style="{% for key,value in cell.style.items %}{{key}}: {{value}};{% endfor %}">{{cell.caption}}</th>
					{% else %}
						<td rowspan="{{cell.rowspan}}" colspan="{{cell.colspan}}" class="{{cell.class}}" style="{% for key,value in cell.style.items %}{{key}}: {{value}};{% endfor %}">{{cell.caption|default_if_none:"--"}}</th>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>